{% block title %} ติดต่อเรา {% endblock title %}
{% block menubar %}
<a class="nav-link fw-bold py-1 px-0 " aria-current="page" href="{% url 'home' %}">หน้าแรก</a>
<a class="nav-link fw-bold py-1 px-0" href="#">สินค้า</a>
<a class="nav-link fw-bold py-1 px-0" href="{% url 'tracking' %}">ตรวจสอบเลข Tracking</a>
<a class="nav-link fw-bold py-1 px-0 " href="{% url 'about-us' %}">เกี่ยวกับเรา</a>
<a class="nav-link fw-bold py-1 px-0 active" href="{% url 'contact' %}">ติดต่อเรา</a>
  {% endblock menubar %}
{% block content %}
    <h1>We Are Animals shop</h1>
    <p class="lead">ท่านสามารถติดต่อเราได้ทาง Line และ เฟสบุ๊คแฟนเพจ</p>
    {% endblock content %}